
body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: "Lato", sans;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: "Lato", sans;
    font-weight: 300;
    color: #d80d4f;
}

.jumbotron {
    font-weight: 300;
}

.navbar-fixed-top {
    position: absolute;
}

.navbar {
    padding-top: 10px;
    background-color: #fff;

    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 15px;
    color: #222;
}

.bblogo {
    padding-top: 10px;
    padding-left: 5px;
    width: 165px;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

.nav .caret {
    border-top-color: #d80d4f;
    border-bottom-color: #d80d4f;
    color: #d80d4f;
}

.navbar-toggle .icon-bar {
    background-color: #d80d4f;
}

.navbar-toggle {
    padding: 13px 0;
}

.container > .navbar-header, .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    height: 60px;
}

.innerjumbo {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
}

@media (min-width: 768px) {

    .navbar-fixed-top {
        position: fixed;
    }

    .bblogo {
        padding: 0;
        width: 247px;
        height: 51px;
    }

    .innerjumbo {
        padding-top: 48px;
        padding-bottom: 48px;
    }

}

.textpage {
    padding-top: 25px;
}

.textpage > h1 {
    padding-bottom: 20px;
}

.textpage .column {
    float: left;
    width: 33%;
    padding-bottom: 20px;
    min-width: 200px;
}

.textpage .clear {
    clear: both;
}

.textpage .contactattention {
    border: 1px solid #d80d4f;
    border-radius: 7px;
    padding: 20px;
    margin-right: 40px;
    display: inline-block;
}
