{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>

        <p id="preview"></p>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/markdown.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#id_body').keyup(function() {
            $('#preview').html(markdown.toHTML(this.value));
        });
    });
</script>
{% endblock %}
