{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top: 50px">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'console:blog' %}">Blog</a>
                </li>
                <li>
                    <a href="{% url 'console:pages' %}">Pages</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-10">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
{% endblock %}