{% extends 'base.html' %}
{% load staticfiles sekizai_tags core_tags %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'console:blog' %}">Blog</a>
                </li>
                <li>
                    <a href="{% url 'console:pages' %}">Pages</a>
                </li>
                <li>
                    <a href="{% url 'console:phone-numbers' %}">Call</a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
{% endblock %}