{% extends "console/admin_base.html" %}

{% block admin_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% url 'console:post-create' %}"
               class="btn btn-primary pull-right">
                New post
            </a>
        </div>
    </div>
    <table class="table table-bordered" style="margin-top: 15px">
        <thead>
        <tr>
            <th>
                Title
            <th>
                Published?
            <th>
                Actions
            <th>
                Authors
            <th>
                Created
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
            <td>
                {{ post }}

            <td>
                {% if post.published %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}

            <td>
                <div class="btn-group">
                    <a class="btn btn-default"
                       href="{% url 'console:post-update' post.slug %}">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>

                    {% comment %}
                    {% if post.published %}
                        <a class="btn btn-danger"
                           href="">Unpublish</a>
                    {% else %}
                        <a class="btn btn-default"
                           href="">Publish</a>
                    {% endif %}
                    {% endcomment %}

                    <a class="btn btn-default"
                       href="{% url 'blog:post-detail' post.slug %}">
                       <span class="glyphicon glyphicon-eye-open"></span> View
                    </a>
                </div>

            <td>
                {% for author in post.edited_by.all %}
                    {{ author }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            <td>
                Created: {{ post.created_at|date:'y-m-d h:i' }}<br/>
                {% if post.created_at != post.updated_at %}
                    Updated: {{ post.updated_at|date:'y-m-d h:i' }}
                {% endif %}
        {% endfor %}
    </table>
{% endblock %}