{% extends 'console/admin_base.html' %}

{% block admin_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% url 'console:page-create' %}"
               class="btn btn-primary pull-right">
                New page
            </a>
        </div>
    </div>
    <table class="table table-bordered" style="margin-top: 15px">
        <thead>
        <tr>
            <th>
                Title
            <th>
                Published?
            <th>
                Actions
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
            <td>
                {{ page.title }}
            <td>
                {% if page.registration_required %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}

            <td>
                <div class="btn-group">
                    <a class="btn btn-default"
                       href="{% url 'console:page-update' page.slug %}">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>

                    {% comment %}
                    {% if post.published %}
                        <a class="btn btn-danger"
                           href="">Unpublish</a>
                    {% else %}
                        <a class="btn btn-default"
                           href="">Publish</a>
                    {% endif %}
                    {% endcomment %}

                    <a class="btn btn-default"
                       href="{% url 'pages:page-detail' page.slug %}">
                        <span class="glyphicon glyphicon-eye-open"></span> View
                    </a>
                </div>
        {% endfor %}
    </table>
{% endblock %}