{% extends 'console/admin_base.html' %}

{% block admin_content %}

    <table class="table table-bordered" style="margin-top: 15px">
        <thead>
        <tr>
            <th>
                User
            <th>
                Number
            <th>
                Current?
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
            <td>
                {{ profile }}
            <td>
                {{ profile.phone_number }}
            <td>
            {% if profile.on_call %}
                <button class="btn btn-default" disabled>
                    <span class="glyphicon glyphicon-ok"></span> Active
                </button>
            {% else %}
                <a class="btn btn-default"
                   href="{% url 'console:phone-numbers-activate' profile.phone_number %}">
                    <span class="glyphicon glyphicon-edit"></span> Activate
                </a>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}